<% provide(:title, @user.username) %>
<div class="row">
	<div class="col-md-4">
		<h1>
			<%= gravatar_for @user, size: 50 %>
			<%= @user.username %>
		</h1>	
	</div>
	<div class="col-md-8">
		<% if @user.events.any? %>
			<h3>Submitted 
				<%= pluralize(current_user.events.count, "event") %>
			</h3>
			<ul class="media-list">
				<%= render @events %>
			</ul>
			<%= will_paginate @events %>
		<% else %>
			<h3>No Events Found</h3>
		<% end %>
	</div>
</div>