<%= render 'shared/error_messages', object: f.object %>

<div class="form-group">
	<%= f.label :title %>
	<%= f.text_field  :title,  class: 'form-control',  placeholder: "Event Title" %>
</div>

<div class="form-group">
	<%= f.label :location %>
	<%= f.text_field  :location,  class: 'form-control',  placeholder: "Event Location" %>
</div>

<div class="form-group">
	<%= f.label :description %>
	<%= f.text_area  :description, rows: 8, class: 'form-control',  placeholder: "Event Description" %>
</div>

<div class="form-group">
	<%= f.date_field :date%>
</div>